{% for entity in entities %}
<div class="bg-white border-b border-gray-200 last:border-b-0 p-4 transition-colors duration-300 hover:bg-gray-50">
    <div class="flex items-start space-x-4">
        {% if entity.image %}
        <img src="{{ entity.image.url }}" alt="{{ entity.name }}" class="w-16 h-16 object-cover rounded-full flex-shrink-0" loading="lazy">
        {% else %}
        <div class="w-16 h-16 bg-gray-200 rounded-full flex items-center justify-center flex-shrink-0">
            <span class="text-gray-500 text-2xl font-bold">{{ entity.name|slice:":1" }}</span>
        </div>
        {% endif %}
        <div class="flex-grow min-w-0">
            <h2 class="text-lg font-semibold text-gray-800 truncate">{{ entity.name }}</h2>
            <p class="text-sm text-gray-500 line-clamp-2 mb-2 description-two-lines">{{ entity.description }}</p>
            <div class="flex items-center text-xs text-gray-400 space-x-4">
                <span class="flex items-center">
                    <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                    {{ entity.location }}
                </span>
                <span class="flex items-center">
                    <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                    {{ entity.upvote_count }} Upvotes
                </span>
            </div>
            <span class="bg-gray-200 text-gray-600 px-2 py-1 mt-5 rounded-full text-xs ">{{ entity.entity_type|title }}</span>
        </div>
        <a href="{% url 'entity_detail' entity.pk %}" class="text-yellow-500 hover:text-blue-600 transition duration-300 flex-shrink-0 self-center">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
        </a>
    </div>
</div>
{% empty %}
<div class="text-center text-gray-600 py-8">
    No entities found.
</div>
{% endfor %}